<?xml version="1.0"?>
<html>
<head>
<title><page-title/></title>
<link href="te-code.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<p><img src="images/logo-2004.gif" align="bottom" alt="te-code logo"/></p>

<table width="100%" cellspacing="0" cellpadding="0">
<tr>
<td colspan="2">
<div class="aaa">
<span class="tagline"><em>Source code for the real world&#8482;</em></span>
<a class="taglink" href="java.html">Java</a>&#160;|&#160;<a class="taglink" href="dotnet.html">.NET</a>
</div>
</td>
</tr>

<tr>
<td class="content" valign="top">
<!-- start of content -->
<page-content/>
<!-- end of content -->
</td>
<td class="nav" valign="top">
<page-menu/>
</td>
</tr>
</table>

<div class="copyright">
Copyright &#169; 2002-2004, Andrew S. Townley.  All Rights
Reserved.
</div>
</body>
</html>
